OWNER_NAME="AYOMIKUN"
PREFIX="."
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="oui"
BOT_NAME= "AYOMIKUN-MD"
IMAGE_MENU= "https://ibb.co/FLFvLK8H"
NUMERO_OWNER= "2348162895550"
OWNER_NAME= "᚛AYOMIKUN᚜"
DATABASE_URL= ""
WARN_COUNT= ""
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
